@model SistemaCobros.Models.Usuario

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar</h2>

<h3>Estas seguro que deseas eliminar el registro?</h3>
<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           Nombre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        

   

        <dt>
            Estado
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado.descripcion)
        </dd>

        <dt>
           Rol
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rol.descripcion)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar", "Index")
        </div>
    }
</div>
