@model IEnumerable<SistemaCobros.Models.Usuario>

@{
    ViewBag.Title = "Index";
}



<p>
    <div style="padding-left:30px">
    @Html.ActionLink("Crear", "Create", new { }, new { @class = "btn btn-outline-primary btn-def " })
    </div>
</p>
<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Usuarios</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" cellspacing="0" style="padding-left:20px">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.nombre)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.contrasena)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Estado.descripcion)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Rol.descripcion)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.nombre)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.contrasena)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Estado.descripcion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Rol.descripcion)
                            </td>
                            <td>
                                @Html.ActionLink(" ", "Edit", new { id = item.id_usuario }, new { @class = "btn btn-outline-primary btn-def fa fa-edit" , @style = "font-size:12px" }) 

                                @Html.ActionLink(" ", "Delete", new { id = item.id_usuario }, new { @class = "btn btn-outline-primary btn-def far fa-trash-alt", @style = "font-size:12px" })
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>
</div>