@model SistemaCobros.Models.Detalle_Gestion

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Detalle_Gestion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hora)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hora)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.comentario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.comentario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gestion.id_gestion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gestion.id_gestion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipo_Gestion.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo_Gestion.descripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_detalle_gestion }) |
    @Html.ActionLink("Back to List", "Index")
</p>
