@{
    Layout = null;
}
<<<<<<< HEAD
<<<<<<< HEAD
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Sistema de Cobros </title>
    <!-- Custom fonts for this template-->
    <link href="~/Content/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="~/Content/css/sb-admin-2.min.css" rel="stylesheet">
    @Styles.Render("~/Content/css/")

    @Scripts.Render("~/bundles/modernizr")
</head>

<body>
    <!-- Page Wrapper -->
    <div>
        id="wrapper">
        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fa-light fa-church"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Sistema de Cobros</div>
            </a>

            <h2> <FONT COLOR="white">Login  </FONT></h2>
            <div class="container">
                <div class="danger">
                    @ViewBag.Error
                </div>
                <form action="@Url.Content("~/Acceso/Login")" method="post">
                    <div class="form-group">
                        <label> <FONT COLOR="white">Usuario </FONT></label>
                        <input type="text" name="User" />
                    </div>
                    <div class="form-group">
                        <label> <FONT COLOR="white">Contraseña </FONT></label>
                        <input type="password" name="Pass" />
                        <div class="col">

                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Entrar" class="btn btn-success" />
                    </div>
                </form>
                <script src="~/Content/vendor/jquery/jquery.min.js"></script>
                <script src="~/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
                <!-- Core plugin JavaScript-->
                <script src="~/Content/vendor/jquery-easing/jquery.easing.min.js"></script>
                <!-- Custom scripts for all pages-->
                <script src="~/Content/js/sb-admin-2.min.js"></script>
                <!-- Page level plugins -->
                <script src="~/Content/vendor/chart.js/Chart.min.js"></script>
                <!-- Page level custom scripts -->
                <script src="~/Content/js/demo/chart-area-demo.js"></script>
                <script src="~/Content/js/demo/chart-pie-demo.js"></script>
                <div class="container body-content">

                    <hr />

                </div>

            </div>

</body>
=======
=======
>>>>>>> parent of 63f98c7 (cambios)
<h2>Login</h2>
<div class="row">
    <div class="danger">
        @ViewBag.Error
    </div>
    <form action="@Url.Content("~/Acceso/Login")" method="post">
        <div class="form-group">
            <label>Usuario</label>
            <input type="text" name="User" />
        </div>
        <div class="form-group">
            <label>Contraseña</label>
            <input type="password" name="Pass" />
        </div>
        <div class="form-group">
            <input type="submit" value="Entrar" class="btn btn-success" />
        </div>
    </form>
    <<<<<<< HEAD
</div>
>>>>>>> parent of 63f98c7 (cambios)
=======
</div>
>>>>>>> parent of 63f98c7 (cambios)
