@model SistemaCobros.Models.Tipo_Pago

@{
    ViewBag.Title = "Edit";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id_tipo_pago)
        <div class="container-fluid">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Tipo de Pago</h6>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        @Html.LabelFor(model => model.descripcion, "Descripción", new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.descripcion, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.descripcion, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.esRecurrente, "Recurrente", new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.esRecurrente, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.esRecurrente, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Guardar" class="btn btn-dark" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<div style="padding:30px">
    <h6 style="padding-left:30px">@Html.ActionLink("Regresar al listado", "Index")</h6>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
