@model SistemaCobros.Models.Factura_Credito

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Factura_Credito</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.total)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cantidad_cuotas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantidad_cuotas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.monto_cuota)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.monto_cuota)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dia_mes_pago)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dia_mes_pago)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.serie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.serie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ciente.nit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ciente.nit)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
